.submission-wrapper {
    display: block;
    margin-bottom: 1rem;
    max-width: 50vw;
    width: 450px;

    .label {
        font-weight: 500;
        font-size: 1.25rem;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            margin-right: .5rem;
        }
    }
}